<%= render "shared/headercreate", back: "back.png", title: "SINGLE TRANSACTION", image: "search.svg" %>
<%= render "shared/msg" %>
<div class="group-wrapper">
  <ul class="transaction-container">
    <li>
      <figure>
        <img src="<%= @entity.groupe.icon %>" alt="icon">
        <figcaption>
          <h3><%= @entity.name %></h3>
        </figcaption>
      </figure>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Aliquid dolores nobis quibusdam distinctio non iure exercitationem 
        tempore ex ratione explicabo.
      </p>
      <div class="total-trans">
        <span>Transaction <%= "N°#{rand 1000000000..9000000000}" %> </span>
        <span class="date"><%= "Date: #{@entity.created_at.to_date.to_fs} at #{@entity.created_at.to_fs(:time)} "%></span>
      </div>
      <div class="total-pay">
        <p>Total payment<p>
        <span><%= "$#{@entity.amount}" %></span>
      </div>
    </li>
  </ul>
</div>