<h1>Category/Group#New</h1>

<div class="group-new">
  <%= form_with model: @group, url: groups_path do |form| %>
    <div class="form-new-title">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'new-title' %>
    </div>
    <div class="form-new-post">
      <%= form.label :icon %>
      <%= form.text_field :icon %>
    </div>
    <div>
      <%= form.hidden_field :author_id, value: current_user.id %>
    </div>
    <%= form.submit class: 'form-submit-comment' %>
  <% end %>
</div>