<%= render "shared/headercreate", back: "back", title: "ALL TRANSACTIONS", image: "search" %>
<%= render "shared/msg" %>
<div class="group-wrapper">
  <% if @entities.empty? %>
    <p class="no-trans">No transactions for this category yet</p>
  <% else %>
    <span class="group-amount ent-amount">
      <%= "Total amount spent $#{@entities.sum(:amount)}" %>
    </span>
    <% @entities.each do |entity|%>
      <%= link_to(entity_path(entity)) do %>
        <ul class="group-container">
          <li>
            <figure>
              <img src="<%= entity.groupe.icon %>" alt="icon">
              <figcaption>
                <h3><%= entity.name %></h3>
                <small><%= entity.created_at.to_date.to_s %></small>
              </figcaption>
            </figure>
            <h4 class="group-amount">
              <%= "$#{entity.amount}" %>
            </h4>
          </li>
        </ul>
      <% end %>
    <% end %>
  <% end %>
  <div class="a-link">
    <%= link_to(new_entity_path) do %>
      <button type="button">Add Transaction</button>
    <% end %>
  </div>
</div>