<nav class="top-nav">
  <i class='bx bx-x bx-lg take-nav'></i>
  <figure>
    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
    <h4 class="animate__animated animate__lightSpeedInRight"><%= current_user.name %></h4>
  </figure>
  <ul>
    <li class="animate__animated animate__slideInLeft">
      <%= link_to(groups_path) do %>
        Home
      <% end %>
    </li>
    <li class="animate__animated animate__lightSpeedInRight">
      <%= link_to(groups_path) do %>
        Categories
      <% end %>
    </li>
    <li>
      <%= link_to(entities_path) do %>
        Transactions
      <% end %>
    </li>
  </ul>
  <%= button_to('Leave', destroy_user_session_path, method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }, class: "leave") %>
</nav>
